.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size:500%;
    font-weight: 1000;
}

.description {
    font-size:200%;
    font-weight: 500;
}

button{
    box-sizing: border-box;
    padding: 1px;
    margin: 10px;
    width: 25vw;
    height: 5vh;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size:15px;
}

#wavInput{
    display:none;
}

#inputText {
    width:50vw;
    height:6.5vh;
}

label {
    display: inline-block;
    width: 25vw;
    height: 5vh;
    
    margin: 10px;
    cursor: pointer;
    background-color: #2C2C2C;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
.inLabel {
    font-size:15px;
}

.smallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}